.education {
    display: flex;
    flex-direction: column;
}

.heading {
    position: relative;
}

.education {
    position: relative;
    .content {
        box-sizing: border-box;
        overflow-y: scroll;
    }
}