// position: fixed
.site-header {
  position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0;
    background-color: #1a1a1a;
    width: $breakpoint-xs;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // height: var(--site-header-height);
}
// position: fixed

button {
  border-left: 1px solid #2a2a2a;
  i {
    padding: 0.6em;
  }
}

.login-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn-download {
  border-left: 1px solid #2a2a2a;
  border-radius: 2em;
  &:after {
    content: "cloud download";
    @include visually-hidden;
  }
  .material-icons {
    color: $color-icon-download;
    padding: 0.6em 0.7em 0.6em 0.9em;
  }
}

.btn-login {
  &:after {
    content: "open login";
    @include visually-hidden;
  }
  .material-icons {
    color: $color-icon-auth;
  }
}

.btn-logout {
  &:after {
    content: "logout";
    @include visually-hidden;
  }
  .material-icons {
    color: $color-icon-auth;
  }
}

.btn-nav {
  &:after {
    content: "open navigation";
    @include visually-hidden;
  }
  .material-icons {
    color: $color-icon-nav;
  }
}