ul {
  li {
    display: inline-block;
  }
  a {
    display: inline-block;
    width: 20px;
    height: 20px;
    color: transparent;
    margin-right: 1em;
    padding: 0.5em;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: left center;
    &.linkedin {
      background-image: url("../assets/linkedin-logo-lightgray.png");
    }
    &.github {
      background-image: url("../assets/github-logo-lightgray.png");
    }
    &.instagram {
      background-image: url("../assets/instagram-logo-lightgray.png");
    }
  }
}
