.social-media {
display: flex;
flex-direction: row;
align-content: center;
  li {
    line-height: 1em;
  }
  a {
    display: inline-flex;
    > img {
    width: var(--social-icon-dimension);
    padding: 1.3em;
      }
    &.linkedin {
      &:after {
        content: "linkedin";
      }
    }
    &.github {
      &:after {
        content: "github";
      }
    }
    &.instagram {
      &:after {
        content: "instagram";
      }
    }
    &:after {
      @include screen-reader-ready;
    }
  }
}

.site-header {
  li {
    &:first-child {
      > a {
        // border-left: 1px solid $color-border-button-header;
      }
    }
  }
}

.navigation {
  .social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 3em;
    a {
      border: 1px solid $color-border-button-navigation;
      border-radius: 0.5em;
    }
  }
}
