:root {
    --site-header-width: 100%;
    --site-header-height: 3.5em; // 16*3.5=56px
    --site-header-height-md: 4.5em; // 16*4.5=72px
    --site-footer-height: 4em; // 16*4=64px
    --social-icon-dimension: 1.1em;
    --social-icon-dimension-md: 1.5em;
    --slide-in-width: 100%;
    --breakpoint-xl: 1200px;
}