//// preprocessed vars
// responsive breakpoints (Bootstrap)
$breakpoint-xs: 330px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$z-index-body: 1;
$z-index-app: 2;
$z-index-body-img-bg: 3;
$z-index-site-wrap: 4;
// $z-index-app-page-links: 5;
$z-index-sidebar-nav: 5;
$z-index-header: 6;
$z-index-footer: 7;
$z-index-overlay-bg: 2000;
$z-index-overlay: 2001;
$z-index-spinner-bg: 3000;
$z-index-spinner: 3001;

$font-family-fallback: Verdana, Geneva, Tahoma, sans-serif;
$font-family: Montserrat, $font-family-fallback;
$font-family-logo: Righteous, $font-family-fallback;
$font-family-navigation: Roboto, $font-family-fallback;
$font-family-heading1: Montserrat, $font-family-fallback;
$font-family-heading2: Syncopate, $font-family-fallback;
$font-family-heading3: Syncopate, $font-family-fallback;
$font-family-heading4: Montserrat, $font-family-fallback;

$txt-size: 16px;
$txt-size-heading1: 1em;
$txt-size-heading2: 2em;
$txt-size-heading3: 1.5em;
$txt-size-heading4: 0.8em;

$line-height-body: 1.6em;

$padd-container: 1em;

$color-bg-body: #f7f7f7;
// $color-bg-header: rgba(0, 0, 0, 0.15);
$color-bg-header: #fff;
$color-bg-overlay: rgba(0, 0, 0, 0.9);

// $color-txt: #999;
$color-txt: #000;
// $color-txt-heading1: #555;
$color-txt-heading1: #000;
$color-txt-heading2: #000;
$color-txt-heading3: #000;
$color-txt-heading4: #000;
$color-txt-footnote: #555;
$color-txt-footnote-links: #666;

$color-logo: #000;
// $color-icon-social-media: #333;
// $color-icon-auth: #aaa;
$color-icon-auth: #000;
$color-icon-nav: #000;
$color-icon-download: #000;
$color-icon-skill-dot: #000;
// $color-nav-links: #aaa; // 170, 170, 170
$color-nav-links: #000; // 170, 170, 170
// $color-nav-links-current: #b36a12; // 179, 106, 18
$color-nav-links-current: #D85426; // 179, 106, 18

$color-focus: #D85426;
// $color-focus: #7da2a9;
$color-unfocus: #777;
$color-border-button-header: #2a2a2a;
$color-border-button-navigation: #444;

// form
$color-txt-form-button: #fff;
$color-txt-form-button-disabled: #666;
// $color-bg-form-input: #444;
// $color-bg-form-input: #000;
$color-bg-form-input: #fff;
$color-bg-form-button: #D85426;
$color-bg-form-button-disabled: #fff;
// $color-form-button-border: #444;
$color-form-button-border: #000;
$color-txt-form-error: #D85426;
$color-txt-error-request: #000;

// slide in panel: navigation, signin
$slide-in-width: 100%;
$slide-in-height: 100%;
// $color-slide-in-button-close: #aaa;
// $color-slide-in-button-close: #000;
$button-icon-color: #000;
// $color-txt-slide-in-current: #D85426;
// $color-links-slide-in: #fff;
// $color-bg-slide-in-panel: #333;
$color-bg-slide-in-panel: #f7f7f7;
$color-txt-slide-in-panel: #000;
$color-bg-slide-in-form-input: #444;

$form-input-border-radius: 0.3em;
$form-input-border-color: #000;
$form-input-input-padding: 1em 0;
$form-input-button-padding: 1.4em 1em;
