body {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
h2{
    line-height: 1.1em;
}
p {
    margin: 0;
    padding: 0;
}
button {
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
    li {
        list-style-type: none;
    }
}

// hacks fixing form input autofill/autocomplete text and bg color - cross-browsers (Chrome, Fifrefox, Safari)
input:-webkit-autofill, 
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active { 
    transition: background-color 5000s ease-in-out 0s !important;
    background-color: $slide-in-form-input-bg-color !important;
    color: $base-txt-color !important; 
    -webkit-text-fill-color: $base-txt-color !important;
    box-shadow: 0 0 0 1000px $slide-in-form-input-bg-color inset !important;
    animation: autofill 0s forwards !important;
} 
@keyframes autofill { 
    100% { 
        background: transparent; 
        color: inherit; 
    } 
} 
@-webkit-keyframes autofill {
     100% { 
         background: transparent; 
         color: inherit; 
    } 
}