// < 330 xs
@media screen and (max-width: $breakpoint-xs - 1) {
    :root{
        --the-footer-padding: 0 1em;
        --the-footer-flex-direction: column;
        --the-footer-justify-content: center;
        --the-footer-copyright-order: 2;
        --the-footer-lang-order: 1;
    }
}

// >= 330 xs
@media screen and (min-width: $breakpoint-xs) {
    :root {
        --navigation-padding: 0 2em;
    }
    #home {
        --heading1-margin-bottom: 3em;
    }
}

// >= 576 sm
@media screen and (min-width: $breakpoint-sm) {
    :root {
        --about-width: 80%;
        --contact-width: 60%;
        --education-width: 80%;
        --home-content-width: 60%;
        --slide-in-width: 60%;
        --work-width: 80%;
    }
    #theHeader {
        --social-media-display: flex;
    }
}

// >= 768 md
@media screen and (min-width: $breakpoint-md) {
    :root {
        --about-width: 70%;
        --about-height: 100%;
        --base-button-icon-size: var(--base-button-icon-size-md);
        --cards-overlay-width: 45%;
        --cards-item-width: 43%;
        --contact-width: 80%;
        --contact-input-name-email-width: 48%;
        --education-width: 90%;
        --home-content-width: 50%;
        --slide-in-width: 50%;
        --work-width: 90%;
    }
    #theHeader {
        --logo-font-size: 1.7em;
        --social-icon-dimension: var(--social-icon-dimension-md);
        --the-header-anim-timing: ease-in;
    }
    #contact {
        > #contactContent {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

// >= 992 lg
@media screen and (min-width: $breakpoint-lg) {
    :root {
        --about-width: 70%;
        --cards-overlay-width: 32%;
        --cards-item-width: 28%;
        --contact-width: 60%;
        --contact-input-name-email-width: 48%;
        --education-width: 70%;
        --education-height: 100%;
        --heading1-view-display: none;
        --heading1-view-sidebar-display: block;
        --home-content-width: 40%;
        --skills-width: 45%;
        --site-nav-sidebar-display: block;
        --slide-in-width: 40%;
        --work-width: 70%;
    }
    #home {
        --heading1-view-display: block;
    }
}

// >=1200 xl
@media screen and (min-width: $breakpoint-xl) {
    :root {
        --about-width: 80%;
        --education-width: 80%;
        // --heading1-view-sidebar-left: -40%;
        // --site-nav-sidebar-justify: flex-end;
        --slide-in-width: 30%;
        --work-display: flex;
        --work-width: 80%;
    }
}

@media screen and (orientation: portrait) {
    :root {
        --body-bg-image: url('../assets/chinh-main-bw-portrait.jpg');
    }
}
@media screen and (orientation: landscape) {
    :root {
        --body-bg-image: url('../assets/chinh-main-bw.jpg');
    }
    /* @media screen and (max-height: 400px) {
        :root {
            --contact-height: auto;
            --work-height: auto;
        }
    } */
}