$signin-width: 100%;
$app-bg-color: #333;
$body-padding: 1em;
$app-txt-color: #999;
$form-field-bg-color: #444;
$app-txt-color-focus: #b36a12;
$app-min-height: 500px;
$app-color-gray-dark: #444;
$app-color-gray-light: #aaa;

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}
.visible {
  visibility: visible !important;
}
.signin-container {
  position: absolute;
  top: 0;
  right: 0;
  width: $signin-width;
  height: $signin-width;
  min-height: $app-min-height;
  background-color: $app-bg-color;
}
.signin {
  display: flex;
  flex-direction: column;
  padding: $body-padding;
}
.form-field {
  background-color: $form-field-bg-color;
  padding: 0 1.5em;
}
.form-error {
  font-size: 0.7em;
  opacity: 0.8;
  position: relative;
  top: -2.5em;
  left: 2em;
  visibility: hidden;
  color: $app-txt-color-focus;
}
form {
  li {
    margin-bottom: 0.5em;
  }
  label {
    @extend .visually-hidden;
  }
  button {
    font-size: 1em;
    padding: 1.5em;
    // background-color: $form-field-bg-color;
    background-color: $app-txt-color-focus;
    border: 0;
    color: $app-txt-color;
    &:disabled {
        color: $app-color-gray-dark;
        border: 1px solid $form-field-bg-color;
        background: none;
    }
  }
}
.footnote {
  margin-bottom: 4em;
}
.btn-close {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0.8em 0;
  margin-bottom: 1em;
  &:after {
    content: "close authentication";
    @extend .visually-hidden;
  }
  > i {
      color: $app-color-gray-light;
  }
}
/* .btn-close {
  font-family: "Roboto";
  font-size: 1.7em;
  padding: 0.5em 0 0 1em;
  align-self: flex-end;
  color: $app-txt-color;
  margin-bottom: 1em;
  &:before {
    content: "\00d7";
  }
  &:after {
    content: "close authentication";
    @extend .visually-hidden;
  }
} */
.slide-enter-active {
  animation: slideIn 0.5s ease-in;
}
.slide-leave-active {
  animation: slideOut 0.4s ease-out;
}
@keyframes slideIn {
  from {
    transform: translateX($signin-width);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX($signin-width);
  }
}
.grecaptcha-badge {
  visibility: hidden;
}