$signin-width: 100%;
$app-txt-color: #999;
$app-txt-color-highlight: #fff;
$app-min-height: 500px;
$app-bg-color: #333;
$body-padding: 1em;
$font-fallback: Verdana, Geneva, Tahoma, sans-serif;
$font-heading: Roboto, $font-fallback;
$app-txt-color-focus: #b36a12;
$app-color-gray-light: #aaa;

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

a {
  text-decoration: none;
  display: block;
}
.container {
  position: absolute;
  top: 0;
  right: 0;
  width: $signin-width;
  height: $signin-width;
  min-height: $app-min-height;
  background-color: $app-bg-color;
}
.navigation {
  display: flex;
  flex-direction: column;
  padding: $body-padding;
}
.btn-close {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0.8em 0;
  margin-bottom: 1em;
  &:after {
    content: "close navigation";
    @extend .visually-hidden;
  }
  > i {
      color: $app-color-gray-light;
  }
}
/* .btn-nav-close {
  font-family: "Roboto";
  font-size: 1.7em;
  padding: 0.5em 0 0 1em;
  align-self: flex-end;
  color: $app-txt-color;
  margin-bottom: 1em;
  &:before {
    content: "\00d7";
  }
  &:after {
    content: "close navigation";
    @extend .visually-hidden;
  }
} */
.lang {
  margin-bottom: 3em;
  li {
    display: inline-block;
    margin-right: 1.5em;
    > a {
      color: $app-txt-color;
      text-transform: uppercase;
      font-size: 0.8em;
      &.current {
        color: $app-txt-color-focus;
      }
    }
  }
}
.views {
  font-family: $font-heading;
  font-size: 2em;
  margin-bottom: 1.5em;
  > li {
    margin-bottom: 0.5em;
    > a {
      color: $app-txt-color-highlight;
    }
  }
}
.social-media {
  margin-bottom: 3em;
}
.slide-enter-active {
  animation: slideIn 0.5s ease-in;
}
.slide-leave-active {
  animation: slideOut 0.4s ease-out;
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}