$app-txt-color: #999;

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}
h1 {
  @extend .visually-hidden;
}
h2 {
  margin-bottom: 1em;
}
.container {
  margin-bottom: 4em;
}
li {
  width: 100%;
  margin-bottom: 1em;
}
a {
  display: block;
  width: 100%;
  height: 200px;
  text-decoration: none;
  color: $app-txt-color;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 100% 90%;
  &.videotron {
    background-image: url("../assets/videotron-mobility.png");
    &:before {
      content: "Videotron";
    }
  }
  &.clubillico {
    background-image: url("../assets/clubillico.png");
    &:before {
      content: "Club illico";
    }
  }
  &.illicoweb {
    background-image: url("../assets/illicoweb.png");
    &:before {
      content: "illico TV";
    }
  }
  &.coming-soon {
    // background-image: url("../assets/illicoweb.png");
    &:before {
      content: "coming soon";
    }
  }
}
.professional {
    a {
        &:before {
            display: none;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.9);
        }
        &:hover {
            &:before {
                display: flex;
            }
        }
    }
  }
 .personal {
    a {
        &:before {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.9);
        }
    }
  }  