#app > header {
    .social-media {
        display: none;
    }
}

@media screen and (max-width: $breakpoint-min) {
    body {
        width: $breakpoint-min;
    }  

    #app > footer {
        display: none;
    }
}