@media screen and (min-width: $breakpoint-xs) and (max-width: $breakpoint-sm) {
    .site-wrap {
        padding-right: 2em!important;
        padding-left: 2em!important;
    }
}

@media screen and (min-width: $breakpoint-sm + 1) {
    .site-header {
        .social-media {
            display: block!important;
        }
    }
    .site-nav {
        .social-media {
            display: none!important;
        }
    }
}

// @media screen and (min-width: $breakpoint-xs + 1) and (max-width: $breakpoint-sm) {
@media screen and (min-width: $breakpoint-sm + 1) and (max-width: $breakpoint-md) {
    body {
        --slide-in-width: 60%;
    }    
    /* .site-header {
        .social-media {
            display: block!important;
        }
    } */
    .site-wrap {
        padding-right: 3em!important;           
        padding-left: 3em!important;
        .home {
            margin-top: 3em;
        }
    }
    .site-nav {
        .content {
            padding-right: 0!important;
            padding-left: 0!important;
        }
        .lang {
            margin-right: 1em;
            margin-left: 1em;
        }
        .page-links {
            margin-right: 0.5em;
            margin-left: 0.5em;
        }
        /* .social-media {
            display: none!important;
        } */
    }
}

@media screen and (min-width: $breakpoint-md + 1) and (max-width: $breakpoint-lg) {
    body {
        --slide-in-width: 50%;
    }
    .site-wrap {
        padding-right: 2em!important;
        padding-left: 2em!important;
    }
    .home {
        width: 50%;
        margin: 0 auto;
    }
    .about {
        .content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            > .desc,
            > .skills {
                width: 47%;
            }
        }
    }
    .works {
        .content {
            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
                > li {
                    width: 49%;
                }
            }
        }
    }
    .education {
        .content {
            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
                > li {
                    width: 45%;
                }
            }
        }
    }
    .contact {
        .content {
            width: 70%;
            margin: 0 auto;
            .contact-info {
                ul {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    > li {
                        width: 100%;
                    }
                    .name,
                    .email {
                        width: 47%;
                    }
                }
            }
        }

    }
    .site-nav {
        .content {
            padding-right: 1em!important;
            padding-left: 1em!important;
        }
    }
}

@media screen and (min-width: $breakpoint-md + 1) {
    body {
        --site-header-height: 5em;
    }
    .site-header {
        .logo > a {
            font-size: 1.7em;
        }
        .btn-nav,
        .btn-login,
        .btn-logout,
        .btn-download {
            > i {
                font-size: 2em;
            }
        }
        .social-media a {
            --social-icon-dimension: 2em;
        }
    }
}

@media screen and (min-width: $breakpoint-lg + 1) and (max-width: $breakpoint-xl) {
    body {
        --slide-in-width: 40%;
        // --site-header-width: 992px;//$breakpoint-lg;
        // width: $breakpoint-lg;
        // margin: 0 auto;
    }
    .site-wrap {
        padding-right: 2em!important;
        padding-left: 2em!important;
        > .home {
            width: 50%;
            margin: 0 auto;
        }
        > .about {
            .content {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                > .desc,
                > .skills {
                    width: 47%;
                }
            }
        }
        > .works {
            .content {
                ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    > li {
                        width: 49%;
                    }
                }
            }
        }
        > .education {
            .content {
                ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    > li {
                        width: 45%;
                    }
                }
            }
        }
        > .contact {
            .content {
                width: 70%;
                margin: 0 auto;
                .contact-info {
                    ul {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        > li {
                            width: 100%;
                        }
                        .name,
                        .email {
                            width: 47%;
                        }
                    }
                }
            }
        }
    }
    .site-nav {
        .content {
            padding-right: 1em!important;
            padding-left: 1em!important;
        }
    }
}

@media screen and (min-width: $breakpoint-xl + 1) {
    body {
        --slide-in-width: 30%;
        --site-header-width: var(--breakpoint-xl);
        // --site-header-width: $breakpoint-xl;
        // width: $breakpoint-xl;
        // margin: 0 auto;
    }
    .site-wrap {
        padding-right: 2em!important;
        padding-left: 2em!important;
    }
    .home {
        width: 40%;
        margin: 0 auto;
    }
    .about {
        .content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            > .desc,
            > .skills {
                width: 47%;
            }
        }
    }
    .works {
        .content {
            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
                > li {
                    width: 32%;
                }
            }
        }
    }
    .education {
        .content {
            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
                > li {
                    width: 29%;
                }
            }
        }
    }
    .contact {
        .content {
            width: 70%;
            margin: 0 auto;
            .contact-info {
                ul {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    > li {
                        width: 100%;
                    }
                    .name,
                    .email {
                        width: 47%;
                    }
                }
            }
        }
    }
    .site-nav {
        .content {
            padding-right: 1em!important;
            padding-left: 1em!important;
        }
    }
}

@media screen and (min-width: $breakpoint-lg + 1) {
    .pagelinksElement {
        display: block!important;
        position: fixed!important;
        width: 10%;
        height: 100%;
        top: 40%;
        right: 0;
        > ul { 
            margin-right: 2em;
            > li {
                > a {
                    display: inline-block;
                    padding: 0.6em!important;
                    &:before {
                        @include screen-reader-ready;
                    }
                    > i {
                        display: block!important;                            
                    }
                }
            }
        }
    }

    .home {
        display: flex!important;
        flex-direction: row!important;
        > .content {
            width: 90%;
        }
        > .page-links {
            @extend .pagelinksElement;
        }
    }
    
    .about,
    .works,
    .education,
    .contact {
        display: flex!important;
        flex-direction: row!important;
        > .heading {
            width: 10%;
            > h1 {
                position: absolute;
                top: 0;
                left: 0;
                transform-origin: top left;
                transform: rotate(-90deg);
                margin-top: 100px;
            }
        }
        > .content {
            width: 80%;
        }
        > .page-links {
            @extend .pagelinksElement;
        }
    }
}