/* .heading {
  position: relative;
} */

.links {
  position: fixed;
  top: 0;
  right: 0;
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  > ul {
  }
}
