header {
  z-index: $z-index-header;//6
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0;
  background-color: $color-bg-header;
  // border-bottom: 1px solid #333;
}

.site-header {
  width: var(--site-header-width);
  height: var(--site-header-height);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .social-media {
      display: none;
  }
}

button {
  // border-left: 1px solid $color-border-button-header;
  i {
    padding: 0.6em;
  }
}

.login-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn-download {
  // border-left: 1px solid $color-border-button-header;
  border-radius: 2em;
  &:after {
    content: "cloud download";
    @include screen-reader-ready;
  }
  .material-icons {
    color: $color-icon-download;
    padding: 0.6em 0.7em 0.6em 0.9em;
  }
}

.btn-login {
  &:after {
    content: "open login";
    @include screen-reader-ready;
  }
  .material-icons {
    color: $color-icon-auth;
  }
}

.btn-logout {
  &:after {
    content: "logout";
    @include screen-reader-ready;
  }
  .material-icons {
    color: $color-icon-auth;
  }
}

.btn-nav {
  &:after {
    content: "open navigation";
    @include screen-reader-ready;
  }
  .material-icons {
    color: $color-icon-nav;
  }
}

// @include fading-helper;
/* .sliding-enter-active {
  animation: slideIn .2s ease-in;
}
@keyframes slideIn {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(70px);
  }
} */