body {
    font-size: 16px;
    font-family: $font-body;
    background-color: $app-bg-color;
    color: $app-txt-color;
}
h1 {
    font-family: $font-heading-capital;
    font-size: 2em;
    line-height: 1.2em;
    color: $app-heading-color;
}
p {
    line-height: 1.2em;
}
input, textarea {
    font-size: 1em;
    border: 0;
    background-color: $form-field-bg-color;
    width: 100%;
    padding: 1.5em 0;
    color: $app-txt-color;
    outline: none;
}
/* textarea {
    font: unset;
    font-family: $font-body;
    resize: none;
    overflow: auto;
} */

.grecaptcha-badge {
  visibility: hidden;
}