body {
    font-size: 16px;
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif; // Montserrat, Roboto, Syncopate, Righteous
    background-color: $appBgColor;
    color: $appTxtColor;
}
h1 {
    font-family: Syncopate, Verdana, Geneva, Tahoma, sans-serif; // Montserrat, Roboto, Syncopate, Righteous
    font-size: 2.5em;
    line-height: 1.2em;
}
p {
    line-height: 1.2em;
}
input {
    font-size: 1em;
    border: 0;
    background-color: $formFieldBgColor;
    width: 100%;
    padding: 1.5em 0;
    color: rgba($color: #fff, $alpha: 0.5);
    outline: none;
}
