body {
    width: 100%;
    height: 100%;
    background-color: $app-bg-color;

    // background: transparent url('../assets/bg1.jpg') no-repeat center top;
    // background-image: url('../assets/bg3.jpg');
    // background-position: center 0;
    // background-repeat: no-repeat;
    // background-size: 140% 100%;
}
#app {
    display: flex;
    flex-direction: column;
    min-height: $app-min-height !important;
    
    header {
        width: 100%;
        // height: 10%;
        position: fixed;
        background-color: $app-bg-color;
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: $body-padding;
            .social-media {
                display: none;;
            }
        }
    }

    main {
        height: 100%;
        margin-top: 5em;
        padding: $body-padding;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    footer {
        height: 25%;
        background-color: lightskyblue;
        padding: $body-padding;
        display: none;
    }

    nav {
        .social-media {
            display: block;
        }
    }
}

@media screen and (max-width: 330px) {
    .main {
        .works {
            .container {
                a {
                    &:before {
                        visibility: hidden;
                    }
                    &:hover {
                        &:before {
                        visibility: visible !important;
                        }
                    }
                }
            }
        }
    }
}