%hide-text-accessibility {
    position: absolute;
    top: -9999px;
}

.visually-hidden { 
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
}

.page-header {
    color: #555;
    text-transform: lowercase;
    font-size: 1em;
    margin: 0.3em 0 5em;
}


.focus {
    color: $app-txt-color-focus;
}
.unfocus {
    color: $app-txt-color-unfocus;
}
.line {
    font-size: 3em;
}
.footnote {
    font-size: 0.5em;
    opacity: 0.5;
    line-height: 1.5em;
    > a {
        color: $app-txt-color-light;
    }
}
.form-field {

}
.mb-4 {
    margin-bottom: 4em;
}
