$app-min-height: 500px;
$body-padding: 1em;
$app-bg-color: #333;
$app-txt-color: #999;
$app-txt-color-light: #ccc;
$app-txt-color-focus: #b36a12;
$app-txt-color-unfocus: #777;
$form-field-bg-color: #444;
$app-heading-color: #fff;

$font-fallback: Verdana, Geneva, Tahoma, sans-serif;
// Google Fonts: Righteous, Montserrat, Syncopate, Roboto
$font-logo: Righteous, $font-fallback;
$font-body: Montserrat, $font-fallback;
$font-heading-capital: Syncopate, $font-fallback;
$font-heading: Roboto, $font-fallback;
