@mixin canvas-bg($bg-color: $canvas-bg-color) {
    .canvas-bg {
        z-index: $z-index-overlay-bg;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: $slide-in-height;
        background-color: $bg-color;
    }
}
@mixin slide-fade-helper($type: '') {
    .slide-fade-enter,
    .slide-fade-leave-to {
        opacity: 0;
    }
    .slide-fade-enter-to,
    .slide-fade-leave {
        opacity: 1;
    }
    .slide-fade-enter-active {
        @if ($type != '') or ($type == 'enter') {
            transition: opacity 0.5s ease-in;
            animation: slideFadeIn 0.3s ease-in;
        }
    }
    .slide-fade-leave-active {
        @if ($type != '') or ($type == 'leave') {
            transition: opacity 0.3s ease-out;
            animation: slideFadeOut 0.5s ease-out;
        } 
    }
    @keyframes slideFadeIn {
        from {
            transform: translateY(100%);
        }
        to {
            transform: translateY(0);
        }
    }
    @keyframes slideFadeOut {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(-100%);
        }
    }
}
@mixin slide-helper {
    .slide-enter-active {
        animation: slideIn 0.5s ease-in;
    }
    .slide-leave-active {
        animation: slideOut 0.4s ease-out;
    }
    @keyframes slideIn {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(0);
        }
    }
    @keyframes slideOut {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(100%);
        }
    }
}
@mixin fading-helper {
    .fading-enter,
    .fading-leave-to {
        opacity: 0;
    }
    .fading-enter-to,
    .fading-leave {
        opacity: 1;
    }
    .fading-enter-active {
        transition: opacity 0.3s ease-in;
    }
    .fading-leave-active {
        transition: opacity 0.2s ease-out;
    }
}
@mixin screen-reader-ready {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
}
@mixin visible {
    .visible {
        visibility: visible !important;
    }
}
@mixin hidden {
    .hidden {
        opacity: 0 !important;
    }
}